@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(170, 170, 170, 0.486);
}

/* start header area */
.brand-title {
  margin-top: 87px;
  margin-left: 120px;
}
nav ul {
  display: flex;
  margin-right: 86px;
  margin-left: 703px;
  margin-top: -23px;
}
nav ul li {
  list-style: none;
  margin-right: 34px;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
  transition: 0.5s ease-in-out;
}
nav ul li a:hover {
  color: #E02C6D;
}


/* start journey section */

.start-journey {
  display: flex;
  width: 100%;
}
.half-width {
  width: 50%;
}
.journey-text {
  margin-top: 146px;
  margin-left: 120px;
}
.journey-photo {
  width: 475px;
  height: 475px;
  margin-top: 50px;
  margin-left: 50px;
}
.half-width img {
  width: 440px;
  height: 414px;
}
.half-width h1 {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 16px;
}
.half-width p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom:20px;
}
.half-width a , .f-arrow-right {
  font-size: 16px;
}
.half-width a {
  padding: 10px 24px 10px 24px;
  color: #ffffff;
  background-color:rgba(224, 44, 110, 0.5);
  border-radius: 25px 25px 25px 25px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
.half-width a:hover {
   background-color: #E02C6D;
}
.right-arrow {
  margin-left: 8px;
}

/* end journey section */

/* start e market section */


.elogo {
  display: flex;
  margin-left: 165px;
}
.elogo img {
  margin-right: 60px;
}

/* end e market section */

/* start populer collection */

.populer-collection {
  margin-top: 100px;
}
.collections {
  display: grid;
  grid-template-columns:329px 329px 329px;
  gap: 30px;
  justify-content: center;
  
}
.collection {
  background-color: #ffffff;
  width: 329px;
  height: 476px;
  border-radius: 5px;
}
.collection-title {
  font-size: 27px;
  text-align: center;
  margin-bottom: 40px;
  color: #3A3A3A;
}
.collection-article {
  margin-left: 14px;
}
.collection-article h2 {
font-size: 28px;
line-height: 40px;
}
.collection-photo {
  margin-top: 17px;
  margin-left:14px;
  width: 300px;
  height: 256px;
  overflow: hidden;
}
.collection-photo img:hover {
  transform:scale(1.5) ;
}
.collection-photo img {
  width:300px;
  height: 256px;
  transition: 0.5s ease-in-out;
  
}
.collection-article p {
  font-size: 14px;
  color: rgba(128, 128, 128, 0.527);
  line-height: 143%;
}
.star {
  color: #FB8200;
}
.percentage {
  color:#5E6366;
  margin-left: 5px;
  font-size: 14px;
}
.see-more {
  text-align: right;
  margin-right: 105px;
  margin-top: 30px;
}
.see-more a {
  text-decoration: none;
}
.see-more a, .right-arrow2 {
  color: #E02C6D;
}

/* start footer section */

.footer {
  width: 100%;
  height: 150px;
  background-color: #0A0826;
  margin-top: 100px;
}
.footer h2 {
  font-size: 20px;
  color: #ffffff;
  padding-top: 30px;
  text-align: center;
}
.footer p {
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
  color:#D9DBE1;
}
.footer .fab {
  color: #ffffff;
  margin-right: 5px;
}

/* for mobile */

 .navbar {
  display: none;
}
.typo-mobile {
  display: none;
}
.mobile-camera {
  display: none;
}



/* For mobile responsive */

@media only screen and (max-width:688px) {

  body {
    width: 100%;
    height: 100%;
  }
  .start-journey {
   display: none;
  }
  .brand-title {
    font-size: 16px;
  }
  .menu-bar {
    width: 24px;
    height: 24px;
    display: inline-block;
    padding-left: 16px;
    margin-top: 0;
  
  }
  .menu-bar2 {
    width: 24px;
    height: 24px;
    margin-left:336px ;
    margin-top: 0;
  }
  .brand-title {
    display: none;
  }
  .brandtitle2 {
    font-size: 24px;
    text-align: center;
    margin-top: 35px;
  
  }
.collections {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.collection-title {
  margin-top: 50px;
}
.footer {
  width: 100%;
} 
.half-width img {
  width: 202px;
  height: 170px;
}
nav {
  display: none;
}
.elogo {
  display: none;
}
hr {
  display: none;
}
.mobile-camera {
  display: block;
  margin-top: 50px;
  margin-left: 100px;
}
.mobile-camera img {
  width: 202px;
  height: 190px;
}
.navbar {
  display: block;
}
.typo-mobile {
  display: inline-block;
  margin-top: 50px;
}
.typo-mobile h1 {
  font-size: 28px;
  text-align: center;
}
.typo-mobile p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom:20px;
  text-align: center;
  margin-top: 15px;
}
.typo-mobile a , .f-arrow-right {
  font-size: 16px;
}
.typo-mobile a {
  padding: 10px 24px 10px 24px;
  color: #ffffff;
  background-color:#E02C6D;
  border-radius: 25px 25px 25px 25px;
  text-decoration: none;
}
.typo-mobile h5 {
  text-align: center;
  margin-top: 30px;
}
.see-more {
  margin-right: 50px;
}

  
  
}

/* For tablet responsive */

@media only screen and (max-width:992px) and (min-width:689px) {

  .elogo {
    display: none;

  }
  hr{
    display: none;
  }
  .collections {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    margin-left: 40px;
    justify-content: center;
    
  }
  .collection {
    background-color: #ffffff;
    border-radius: 5px;
  }
  .collection img {
    width: 100%;
  }
  .collection-photo {
    width: 85%;
  }
  nav ul {
    margin-left: 460px;
    margin-right: 0px;
  }
  nav ul li {
    margin-right: 14px;
  }
  .brand-title {
    margin-left: 60px;
  }
  .see-more {
    width: 100%;
  }
  .half-width img {
    width: 340px;
    height: 314px;
  }
  .populer-collection {
    margin-top: 50px;
  }
}